@page
@model GameLibrary.Pages.Admin.Games.IndexModel

@{
	ViewData["Title"] = "Admin Page";
}

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"]</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
</head>

<body style="background-color: #000235; color: #FFD43B;">
	<header>
		<br />
		<h1>Games</h1><br />
		
        <p class="text-lg-end">
			<a asp-page="Create" class="btn" style="background-color: #420599; color: #FFD43B;">Create New</a>
        </p>

	</header>

	<div class="container" >
		<table class="table" style="background-color: #000235;">
			<thead>
				<tr style=" color:#FFD43B;">
					<th style="color:#FFD43B;">Game Details</th>
					<th style="color:#FFD43B;">Image</th>
					<th style="color:#FFD43B;">Actions</th>
				</tr>
			</thead>
			<tbody style=" color:#FFD43B;">
				@foreach (var item in Model.Games!)
				{
					<tr>
						<td>
							<strong style="color:#FFD43B;">Title:</strong> @Html.DisplayFor(modelItem => item.Title)<br />
							<strong style="color:#FFD43B;">Genre:</strong> @Html.DisplayFor(modelItem => item.Genre)<br />
							<strong style="color:#FFD43B;">Release Date:</strong> @Html.DisplayFor(modelItem => item.ReleaseDate)<br />
							<strong style="color:#FFD43B;">Description:</strong> @Html.DisplayFor(modelItem => item.Description)
						</td>
						<td>
							<img src="@item.ImageUrl" class="img-thumbnail" title="Game Image" />
						</td>
						<td>
                            <a asp-page="./Edit" asp-route-id="@item.Id" class="btn btn-primary btn-sm"  style="background-color: #420599; color: #FFD43B;">Edit</a><br /><br />
                            <a asp-page="./Details" asp-route-id="@item.Id" class="btn btn-info btn-sm" style="background-color: #420599; color: #FFD43B;">Details</a><br /><br />
                            <a asp-page="./Delete" asp-route-id="@item.Id" class="btn btn-danger btn-sm" style="background-color: #420599; color: #FFD43B;">Delete</a>
						</td>
					</tr>
				}
			</tbody>
		</table>
	</div>
	<br />

	<footer class="text-center text-lg-start position-absolute bottom-0 w-100">
		<div class="container text-center p-3">
			© 2024 Web-Tech Group 17 | This site uses cookies to enhance your experience. <a asp-area="" asp-page="/Privacy" class="text-white">Learn more</a>
		</div>
	</footer>
</body>
</html>
