<ul class="nav nav-pills flex-column bg-primary-subtle text-light shadow-sm p-3 rounded">
    <li class="nav-item"><a class="nav-link @ManageNavPages.IndexNavClass(ViewContext)" id="dashboard" asp-page="/Admin/Index">Dashboard</a></li>
    <li class="nav-item"><a class="nav-link @ManageNavPages.GamesNavClass(ViewContext)" id="games" asp-page="/Admin/Games/Index">Games</a></li>
    <li class="nav-item"><a class="nav-link @ManageNavPages.ReviewsNavClass(ViewContext)" id="reviews" asp-page="/Admin/Reviews/Index">Reviews</a></li>
    <li class="nav-item"><a class="nav-link @ManageNavPages.UserLibrariesNavClass(ViewContext)" id="user-libraries" asp-page="/Admin/UserLibraries/Index">User Libraries</a></li>
    <li class="nav-item"><a class="nav-link @ManageNavPages.UserFavoritesNavClass(ViewContext)" id="user-favorites" asp-page="/Admin/UserFavorites/Index">User Favorites</a></li>
    <li class="nav-item"><a class="nav-link @ManageNavPages.UsersNavClass(ViewContext)" id="users" asp-page="/Admin/Users/Index">Users</a></li>
    <li class="nav-item"><a class="nav-link @ManageNavPages.RolesNavClass(ViewContext)" id="roles" asp-page="/Admin/Roles/Index">Roles</a></li>
</ul>
