@page
@model GameLibrary.Pages.Admin.Reviews.IndexModel

@{
    ViewData["Title"] = "Reviews";
    ViewData["ActivePage"] = ManageNavPages.Reviews;
}

<body style="color:#FFD43B;">

    <header>
        <h1>Reviews</h1>
        <p class="text-lg-end">
            <a asp-page="Create" class="btn" style="background-color: #420599; color: #FFD43B;">Create New</a>
        </p>
    </header>

    <div class="container">
        <table class="table" style="background-color: #000235;">
            <thead>
                <tr style="color:#FFD43B;">
                    <th style="color:#FFD43B;">Game</th>
                    <th style="color:#FFD43B;">User</th>
                    <th style="color:#FFD43B;">Rating</th>
                    <th style="color:#FFD43B;">Content</th>
                    <th style="color:#FFD43B;">Actions</th>
                </tr>
            </thead>
            <tbody style="color:#FFD43B;">
                @foreach (var item in Model.Reviews!)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.GameId)</td>
                        <td>@Html.DisplayFor(modelItem => item.UserId)</td>
                        <td>@Html.DisplayFor(modelItem => item.Rating)</td>
                        <td>@Html.DisplayFor(modelItem => item.Content)</td>
                        <td>
                            <a asp-page="./Edit" asp-route-id="@item.Id" class="btn btn-primary btn-sm" style="background-color: #420599; color: #FFD43B;">Edit</a><br /><br />
                            <a asp-page="./Delete" asp-route-id="@item.Id" class="btn btn-danger btn-sm" style="background-color: #420599; color: #FFD43B;">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

</body>
