@page
@model GameLibrary.Pages.Admin.Users.IndexModel

@{
    ViewData["Title"] = "Users";
    ViewData["ActivePage"] = ManageNavPages.Users;
}

<header>
    <h1>Users</h1>
    <p class="text-lg-end">
        <a asp-page="Create" class="btn btn-primary">Create New</a>
    </p>
</header>

<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th>User Name</th>
                <th>Email</th>
                <th>Role</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.IdentityUsers!)
            {
                <tr>
                    <td>@item.UserName</td>
                    <td>@item.Email</td>
                    <td>@(Model.UserRoles.ContainsKey(item.Id) ? Model.UserRoles[item.Id] : "No Role")</td>
                    <td>
                        <a asp-page="./Edit" asp-route-id="@item.Id" class="btn btn-primary btn-sm">Edit</a>
                        <a asp-page="./Delete" asp-route-id="@item.Id" class="btn btn-danger btn-sm">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
